@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: rgb(56, 7, 7);
  background-color: #ead2ba;
}

.navbar {
  padding: 0.7rem;
  background-color: #301c09;
  margin: 0 auto;
 
}

.navbar-nav ul {
  padding-right: 20px;
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}


.btn-primary {
  background-color: #72e4c2;
  border: 1px solid #72e4c2;
}
.btn-primary:hover {
  background-color: #55ac92;
  border: 1px solid #55ac92;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #301c09;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

footer {
  background-color: #301c09 !important;
  color: #ffffff;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #ffffff;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

footer a {
  color: #ffffff;
}
hr.light-100 {
  border-top: 1px solid #ffffff;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

@media (max-width: 992px) {
}
@media (max-width: 768px) {

  .display-4 {
    font-size: 200%;
  }
}
@media (max-width: 576px) {
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
}

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-background{
  margin-top: 8rem;
  background-image: url(img/coffee-bg2.jpg) !important;
  width: 100%;
}


#fixed {
  background-image: url(img/coffee-plakat.jpg) !important;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

[class*="col-"] {
  padding: 1rem;
}

.col-12 {
  text-align: center;
}

h1 {
  font-weight: bold;
}


